Repository binary-com/deriv-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Bot, Components, Core, P2P, Repo, Shared, Trader, Translations

translations: 📚 sync translations with crowdin
  packages/translations/src/translations/fr.json
  packages/translations/src/translations/it.json
Labels: Translations

ci: to test artifacts
  .github/workflows/release_staging.yml
Labels: none

ci: add version to the file in order to be accessible on project
  .github/actions/versioning/action.yml
Labels: none

ci: add versioning to UAT workflow
  .github/workflows/release_uat.yml
Labels: none

feat: banner template after registration with ebook from proper landing
  packages/appstore/src/components/banners/book-banner/book-banner.module.scss
  packages/appstore/src/components/banners/book-banner/book-banner.tsx
  packages/appstore/src/components/banners/book-banner/index.ts
  packages/appstore/src/components/banners/wallets-banner/__tests__/wallets-banner.spec.tsx
  packages/appstore/src/components/banners/wallets-banner/index.ts
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-ready.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrade.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner-upgrading.tsx
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.scss
  packages/appstore/src/components/banners/wallets-banner/wallets-banner.tsx
  packages/appstore/src/components/main-title-bar/__tests__/index.spec.tsx
  packages/appstore/src/components/main-title-bar/index.tsx
  packages/components/stories/icon/icons.js
  packages/core/src/App/Containers/Redirect/redirect.jsx
Labels: Components, Core

chore: update vercel-preview-url-action version
  .github/workflows/generate_app_id.yml
  .github/workflows/lighthouse.yml
  .github/workflows/smoketests.yml
Labels: none

Revert "chore: update vercel-preview-url-action version"
  .github/workflows/generate_app_id.yml
  .github/workflows/lighthouse.yml
  .github/workflows/smoketests.yml
Labels: none

chore: Remove get more CFD accounts button
  packages/appstore/src/components/cfds-listing/index.tsx
  packages/appstore/src/components/get-more-accounts/__tests__/get-more-accounts.spec.tsx
  packages/appstore/src/components/get-more-accounts/get-more-accounts.scss
  packages/appstore/src/components/get-more-accounts/get-more-accounts.tsx
  packages/appstore/src/components/get-more-accounts/index.ts
  packages/appstore/src/components/wallet-content/wallet-cfds-listing.tsx
  packages/hooks/src/__tests__/useCFDCanGetMoreMT5Accounts.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useCFDCanGetMoreMT5Accounts.ts
Labels: none

chore: removal of mt5 trade type modal
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.scss
  packages/appstore/src/components/modals/account-type-modal/account-type-modal.tsx
  packages/appstore/src/components/modals/account-type-modal/index.ts
  packages/appstore/src/components/modals/modal-manager.tsx
  packages/appstore/src/helpers/account-helper.ts
  packages/components/src/components/icon/appstore/ic-appstore-get-more-accounts.svg
  packages/core/src/Stores/traders-hub-store.js
  packages/hooks/src/__tests__/useHasSwapFreeAccount.spec.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useHasSwapFreeAccount.ts
  packages/stores/src/mockStore.ts
  packages/stores/types.ts
  packages/tradershub/src/features/cfd/modals/index.ts
Labels: Components, Core

chore: small fix
  packages/tradershub/src/features/cfd/modals/index.ts
Labels: none

feat: update analytics package to latest beta version
  package-lock.json
  package.json
  packages/account/package.json
  packages/appstore/package.json
  packages/cfd/package.json
  packages/core/package.json
  packages/hooks/package.json
  packages/reports/package.json
  packages/shared/package.json
  packages/trader/package.json
Labels: Core, Repo, Shared, Trader

feat: :sparkles: add cache actions
  .github/actions/npm_install_from_cache/action.yml
Labels: none

chore: trigger workflow
  packages/appstore/src/components/currency-switcher-card/real/__tests__/real-account-switcher.spec.tsx
Labels: none

chore: update content changes in password section
  packages/account/src/Sections/Security/Passwords/deriv-password.tsx
  packages/account/src/Sections/Security/Passwords/platform-description.tsx
  packages/account/src/Styles/account.scss
Labels: none

chore: update deriv-password test case
  packages/account/src/Sections/Security/Passwords/__tests__/deriv-password.spec.tsx
Labels: none

.github/labeler.yml:

Bot:
  - ./packages/bot/**/*
Components:
  - ./packages/components/**/*
Core:
  - ./packages/core/**/*
P2P:
  - ./packages/p2p/**/*
Repo:
  - ./*
Shared:
  - ./packages/shared/**/*
Trader:
  - ./packages/trader/**/*
Translations:
  - ./packages/translations/**/*
